h1 {
    text-align: center;
    color: red;
    background-color: blue;
    border-radius: 20px;
}
i {
    color: greenyellow
}
p {
    color: blue
}
.barca {

    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

body {

    background-color: rgb(92, 86, 77);
    background-image: url("");
}